<%= form_with(model: item, local: true) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :serial %>
    <%= form.text_field :serial, id: :item_serial %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.collection_select :item_category_id, 
    ItemCategory.order(:category), :id, :category, 
    include_blank: true, prompt:true %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :item_description %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.text_field :quantity, id: :item_quantity %>
  </div>

  <div class="field">
    <%= form.label :note %>
    <%= form.text_area :note, id: :item_note, cols: 20, rows: 5 %>
  </div>

  <div class="field">
    <%= form.label :page_url %>
    <%= form.text_field :page_url, id: :item_page_url %>
  </div>

  <div class="field">
    <%= form.label "Inside" %>
    <table>
      <tr>
        <td>
          <% if @item.container %>
            <%= text_field_tag :container_serial, @item.container.serial %>
          <% else %>
            <%= text_field_tag :container_serial %>
          <% end %>
        </td>
        <td>
          Use "none" to empty this field
        </td>
      </tr>
    </table>
  </div>

  <div class="field">
    <%= form.label "Main photo with qr code" %>
    <p>
    <% if @item.primary_photo %>
      <br>
      <a target="_blank" href=<%= url_for(action: :picture, id: @item.id ) %>>
        <img width=320 src=<%= url_for(action: :picture_thumb, id: @item.id ) %> />
      </a>
    <% else %>
      none
    <% end %>
    </p>
    <%= form.file_field(:uploaded_picture, accept: "image/jpg") %> 
    <%= form.label "Remove photo" %>
    <%= form.check_box :remove_photo %>
  </div>

  <div class="field">
    <%= form.label "Second photo" %>
    <%= form.file_field(:uploaded_second_picture, accept: "image/jpg") %> 
    <%= form.label "Remove second photo" %>
    <%= form.check_box :remove_second_photo %>
  </div>

  <div class="field">
    <%= form.label "Invoice jpg" %>
    <%= form.file_field(:uploaded_invoice, accept: "image/jpg") %> 
    <%= form.label "Remove invoice" %>
    <%= form.check_box :remove_invoice %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
