<%= form_with(model: item, local: true) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :serial %>
    <%= form.text_field :serial, id: :item_serial %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :item_description %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.text_field :quantity, id: :item_quantity %>
  </div>

  <div class="field">
    <%= form.label :page_url %>
    <%= form.text_field :page_url, id: :item_page_url %>
  </div>

  <div class="field">
    <%= form.label "Inside" %>
    <%= form.text_field :item_id, id: :item_item_id %>
  </div>

  <div class="field">
    <%= form.label "Main photo with qr code" %>
    <%= form.file_field(:uploaded_picture, accept: "image/jpg") %> 
  </div>

  <div class="field">
    <%= form.label "Second photo" %>
    <%= form.file_field(:uploaded_second_picture, accept: "image/jpg") %> 
  </div>

  <div class="field">
    <%= form.label "Invoice jpg" %>
    <%= form.file_field(:uploaded_invoice, accept: "image/jpg") %> 
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
