<p id="notice"><%= notice %></p>

<% logged_user = User.find(session[:user_id]) %>

<h1>Items</h1>
<h3>
  <% if not session[:show_mine] %>
    Showing all. 
    <%= link_to 'Click to show yours.', toggle_show_all_mine_path %>
  <% else %>
    Showing only items added/edited by you. 
    <%= link_to 'Click to show all.', toggle_show_all_mine_path %>
  <% end %>
</h3>

<table width="100%">
  <tr>
    <td align=left>
      <h3><%= link_to 'New Item', new_item_path %></h3>
    </td>
    <td align=right>
      <h3><%= link_to 'Auto file a photo', upload_photo_path %></h3>
      <h3><%= link_to 'Auto file an invoice', upload_invoice_path %></h3>
    </td>
  </tr>
</table>

<% if not @items %>
  <p> No items to show.</p>
<% else %>
  <table>
    <thead>
      <tr>
        <th>Serial</th>
        <th>Category</th>
        <th>Description</th>
        <th>Quantity</th>
        <th>Page URL</th>
        <th>Photo exists?</th>
        <th>Inside</th>
        <th>Last edited by</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @items.each do |item| %>
        <tr>
          <td><%= link_to item.serial, item %></td>
          <td><%= link_to item.item_category ? item.item_category.category : "", item %> </td>
          <td><%= link_to item.description, item %></td>
          <td><%= item.quantity %></td>
          <% if item.page_url and item.page_url!='' %>
            <td><a href="<%= item.page_url %>">Περισσότερα</a></td>
          <% else %>
            <td></td>
          <% end %>
          <td align=center >
            <% if item.photo_data and item.photo_data!='' %>
              true
            <% else %>

            <% end %>
          </td>
          <td align=center ><%= item.container.nil? ? "":item.container.serial %></td>
          <td align=center ><%= item.user.nil? ? "":item.user.username %></td>
          <% if logged_user.can_edit? %>
            <td><%= link_to 'Edit', edit_item_path(item) %></td>
            <td> ------------- </td>
            <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% else %>
            <td></td>
            <td></td>
            <td></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<br>

<table width="100%">
  <tr>
    <td align=left>
      <h3><%= link_to 'New Item', new_item_path %></h3>
    </td>
    <td align=right>
      <h3><%= link_to 'Auto file a photo', upload_photo_path %></h3>
    </td>
  </tr>
</table>
