<p id="notice"><%= notice %></p>

<table border=1>
  <tr>
    <td>
      <p><small><%=@item.id%></small></p>
      <p>
      <strong>Serial:</strong> 
      <%= @item.serial %>
      created by <%= @item.user ? @item.user.username : "UNDEF" %> <br>
      Last edited by <%= ItemMovementsController::last_editor(@item) %>
    </p>
    </td>
    <td>Contents of this item</td>
  </tr>
  <tr>
    <td>

    <p>
    <strong>Category:</strong>
    <%= @item.item_category.category if @item.item_category %>
    </p>

    <p>
    <strong>Description:</strong>
    <%= @item.description %>
    </p>

    <p>
    <strong>Quantity:</strong>
    <%= @item.quantity %>
    </p>

    <p>
    <strong>Notes:</strong>
    <%= @item.note %>
    </p>

    <p>
    <strong>Page URL:</strong>
    <% if @item.page_url %>
      <a href=<%= @item.page_url %>><%= @item.page_url %></a>
    <% else %>
      none
    <% end %>
    </p>

    <p>
    <strong>Photo:</strong>
    <% if @item.primary_photo %>
      <br>
      <a target="_blank" href=<%= url_for(action: :picture, id: @item.id ) %>>
        <img width=320 src=<%= url_for(action: :picture_thumb, id: @item.id ) %> />
      </a>
    <% else %>
      none
    <% end %>
    </p>

    <p>
    <strong>Second photo:</strong>
    <% if @item.secondary_photo %>
      <br>
      <a target="_blank" href=<%= url_for(action: :second_picture, id: @item.id) %> >
        click for the second picture
      </a>
    <% else %>
      none
    <% end %>
    </p>

    <p>
    <strong>Invoice:</strong>
    <% if @item.invoice_photo %>
      <a target="_blank" href=<%= url_for(action: :invoice, id: @item.id) %> >JPG</a>
    <% else %>
      none
    <% end %>
    </p>

    <p>
    <strong>Current Container : </strong>
    <% if @item.container.nil? %>
      none
    <% else %>
      <%= link_to "#{@item.container.serial} ( #{@item.container.description})", @item.container %>
    <% end %>
    <br>
    </p>
    </td>
    <td>
      <ul>
      <% @item.get_immediate_contents.each do |item| %>
        <li> <%= link_to "#{item.serial} #{item.description}", item %></li>
      <% end %>
      </ul>
    </td>
  </tr>
</table>


<p>
<%= link_to ' history of movements for this item', movements_path(id: @item.id) %>
<br>
<%= link_to "history of edits for this item", edits_path(id: @item.id) %> 
</p>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
