<p id="notice"><%= notice %></p>

<h1>Invoice Photos</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @invoice_photos.each do |invoice_photo| %>
      <tr>
        <td><%= link_to 'Show', invoice_photo %></td>
        <td><%= link_to 'Edit', edit_invoice_photo_path(invoice_photo) %></td>
        <td><%= link_to 'Destroy', invoice_photo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Invoice Photo', new_invoice_photo_path %>
