<!DOCTYPE html>
<html>
  <head>
    <title>Inventory</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <table width=100%>
      <tr>
        <td align=left>
          <small><%= link_to 'Users', users_path %></small>
          <small><%= link_to 'Items', items_path %></small>
        </td>
        <td align=right>
          <small>Logged in as <%= session[:username] %>. </small>
          <small><%= link_to 'Logout', logout_path, method: :delete %></small>
        </td>
      </tr>
      <tr>
        <td>
        </td>
        <td>
        </td>
      </tr>
    </table>
    <%= yield %>
  </body>
</html>
